<div class="flex flex-col px-4 w-full max-w-7xl sm:px-10">
  <!-- Breadcrumbs -->
  <div class="flex flex-wrap gap-2 py-4">
    <a
      class="text-sm font-medium leading-normal text-gray-600 dark:text-gray-400 dark:hover:text-primary hover:text-primary"
      href="#"
      >Home</a
    >
    <span class="text-sm font-medium leading-normal text-gray-600 dark:text-gray-400">/</span>
    <a
      class="text-sm font-medium leading-normal text-gray-600 dark:text-gray-400 dark:hover:text-primary hover:text-primary"
      href="#"
      >Wigs</a
    >
    <span class="text-sm font-medium leading-normal text-gray-600 dark:text-gray-400">/</span>
    <span class="text-sm font-medium leading-normal text-gray-900 dark:text-white">
      {{ wig().name }}
    </span>
  </div>
  <!-- Product Section -->
  <div class="grid grid-cols-1 gap-8 mt-6 lg:grid-cols-2 lg:gap-16">
    <!-- Left Column: Image Gallery -->
    <div class="flex flex-col gap-4">
      <div
        class="w-full bg-center bg-no-repeat bg-cover aspect-square"
        data-alt="Main view of a long, wavy, blonde wig on a mannequin"
        style="
          background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAFYlrPiFYOde_an_595vG4QuPB3-pvWi95jDc1z31G3y9X4D87wSVYQ-efMhxofKxkz-0SzxN-0BruMC4ShapDQJwa7W_m2zuPgaOK2g6BN3cYzKyEac_1uP4N9DdaoNNHOpOMb91_QZG59QU05UCKNcl9Tj-8d7xSsgrZxI3iNSOjoKoS59N-VEoh0IA1LtNNzMlbfwGtQqrYNBxq50M_CwKDtnzeNVdUfhVHTYsDqKSQMbRZv_KIpFAIPuyq_gaNA-xjRCYyj_c');
        "
      ></div>
      <div class="grid grid-cols-5 gap-4">
        <div
          class="w-full bg-center bg-no-repeat bg-cover border-2 aspect-square border-primary"
          data-alt="Front view of the wig"
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBhY6kZxSKI092_9lFfrYd28mRq0vafvMGd0Lue8fNnVqjjkDY2ivex6jKrzTrrQRIdiTzmNXpcQHBGjuQfSZA1xMoaTgNzNIP_tr7QqY3cHQbpBaeq6C58pQf07HGNGexFSng8lgTjfQ241YIZM0_Uc2aq3KuUJsfiEjoz_dC33cM_ANbpWBlZ_SP-rP1sy7SW3Ay2M65zM4be1F4iaProAJs1FISscwxP2eEqgnE3gN_C9Fdv1QHAvUfj8_7EFxqPuzCPxmCoWrc');
          "
        ></div>
        <div
          class="w-full bg-center bg-no-repeat bg-cover opacity-70 cursor-pointer hover:opacity-100 aspect-square"
          data-alt="Side view of the wig"
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCezSlnFzlQG2g9ACe18MBbaVQ02IfYeTjEhnYQZwItiMLLmx4UKAvcAhuk-Nd11G6pCRv44yfqjUU0W3NprYhxB7UyHOdJ-toRpKHKiQ-NjopsfAJtvYXPYswchUjGYFT0pl4reLKqswspdZUhRqKi9T3Ry91RSr5qkyuyt91r5zRrK23iYqEfVk6_GGjnBtzliOnA-NTtqWogTpYRoVVOeZIgBBljkfNizUjkATrIf3CF28bKxKO00eQX1ih8szK7mifPmXRGu04');
          "
        ></div>
        <div
          class="w-full bg-center bg-no-repeat bg-cover opacity-70 cursor-pointer hover:opacity-100 aspect-square"
          data-alt="Back view of the wig"
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDhPzXrhGYu5UIS2Pv0BvArJip-ERo58kmeEMQQ8zo_fsR2ZlSCFeQnEBoGPBbTN8zcrdUjsr-iXup90tp0_RzjDtQVdy5elNgfycmn4tXYNdTdzsNHM8H4WnjybT2RUsSB8xV11k03yLi-J1kog3PNB0ClqP418JNc_SrzUP6EJlSUC8CroDNjtclB7PkHeMRh2uw45p7EDh2d8mqQRXQgPvOnX89XTnREfzZIkcyBkjzOeP37z30tL2OlRnHmRwbVng6XAqESsH0');
          "
        ></div>
        <div
          class="w-full bg-center bg-no-repeat bg-cover opacity-70 cursor-pointer hover:opacity-100 aspect-square"
          data-alt="Close-up of the wig's lace front"
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCNk1be1SZ-Sbalt8CDCtI8zO2qFs8mI_y4vh2okiHsZt6Pcz34GWSbXuV6VEhjsnwH5KLwTyXsWc25fMI95oAGY0Kc-arwSUkS7nsprt-L40wVLd2lShyRCe1EmKURiWdyanXPGC4e4nn2pZgYMe7ZjU7yAfJghtdpG2B8mhZHbSEj_zRy4K-e9m7yNc6Yq9Qx7P9C8dLNfQbEFpVz8jasAoGxDWeyFFH8eR0Sd58TVlXpCsHIh6ifMmt63DnEOSS8gyTf6ZggBb8');
          "
        ></div>
        <div
          class="w-full bg-center bg-no-repeat bg-cover opacity-70 cursor-pointer hover:opacity-100 aspect-square"
          data-alt="Wig shown in a different color"
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCt2EQqEFvlyFBScEaM5EaHAi4s7dnkJK9tt_TSRzkmcIJLcJwV_MvX1Oe4FGCFnS85is68YAHxL0A5tzqaWPxnFxXdASHYGQVURNvzGz7dqGaronCJyUKY9OUnXciqh4xpdgLvJs5ySkGC9sop0V_doUGyn_oUPY1Mu5-8cXQEWEdt8oS033OYA_GQivmb-lEBboCTg8RNotvvRHUPmUg9j30u4uX3_xhXpGGwHsBAbTJQaXnad1Kkyw6K9n9oKeRu5VS0RIHmEKI');
          "
        ></div>
      </div>
    </div>
    <!-- Right Column: Product Info -->
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <h1
          class="text-4xl font-black leading-tight text-gray-900 dark:text-white tracking-[-0.033em]"
        >
          The Empress Silk Wig
        </h1>
        <div class="flex gap-2 items-center">
          <div class="flex text-accent">
            <span class="text-xl material-symbols-outlined">star</span>
            <span class="text-xl material-symbols-outlined">star</span>
            <span class="text-xl material-symbols-outlined">star</span>
            <span class="text-xl material-symbols-outlined">star</span>
            <span class="text-xl text-gray-400 material-symbols-outlined">star_half</span>
          </div>
          <span class="text-sm text-gray-600 dark:text-gray-400">(121 reviews)</span>
        </div>
        <p class="mt-2 text-2xl font-bold leading-normal text-primary">$350.00</p>
      </div>
      <!-- Variant Selectors -->
      <div class="flex flex-col gap-4">
        <div>
          <label class="block mb-2 text-sm font-bold text-gray-800 dark:text-gray-200" for="color"
            >COLOR: Blonde</label
          >
          <div class="flex gap-2">
            <button class="border-2 size-8 bg-[#e0c09e] border-primary"></button>
            <button class="size-8 bg-[#3a271c]"></button>
            <button class="size-8 bg-[#8d4a33]"></button>
            <button class="size-8 bg-[#1e1e1e]"></button>
          </div>
        </div>
        <mat-form-field>
          <mat-label>LENGTH</mat-label>
          <mat-select>
            @for (length of wig().lengths; track length.id) {
              <mat-option>{{ length.value }} inches</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>LENGTH</mat-label>
          <mat-select>
            @for (cap of ['small', 'medium', 'larrge']; track $index) {
              <mat-option>{{ cap }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Action Buttons -->
      <div class="flex gap-4 mt-4">
        <button
          class="flex flex-1 justify-center items-center h-12 text-sm font-bold tracking-wider text-gray-900 uppercase hover:bg-opacity-90 bg-accent"
        >
          Add to Cart
        </button>
        <button
          class="flex justify-center items-center w-12 h-12 text-gray-800 border border-gray-300 dark:text-gray-200 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <span class="material-symbols-outlined">favorite_border</span>
        </button>
      </div>
      <!-- Tabbed Information Section -->
      <div class="mt-6"></div>
    </div>
  </div>
  <!-- Customer Reviews -->
  <div class="mt-16">
    <mat-tab-group class="min-h-100">
      <mat-tab label="Description">
        <div class="py-6 text-sm leading-relaxed text-gray-700 dark:text-gray-300">
          <p>
            {{ wig().description }}
          </p>
          <ul class="pl-5 mt-4 space-y-1 list-disc">
            <li>100% Remy Human Hair</li>
            <li>Invisible Silk Top Base</li>
            <li>Pre-plucked hairline for a natural look</li>
            <li>Can be styled with heat tools</li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Specifications"></mat-tab>
      <mat-tab label="Reviews">
        <h2 class="mb-6 text-2xl font-bold text-gray-900 dark:text-white">Customer Reviews</h2>
        <div
          class="p-6 bg-white border border-gray-200 dark:border-gray-700 dark:bg-background-dark"
        >
          <div class="flex flex-col gap-8 md:flex-row">
            <div class="flex flex-col items-center">
              <p class="text-5xl font-black text-gray-900 dark:text-white">4.5</p>
              <div class="flex mt-1 text-accent">
                <span class="material-symbols-outlined">star</span
                ><span class="material-symbols-outlined">star</span
                ><span class="material-symbols-outlined">star</span
                ><span class="material-symbols-outlined">star</span
                ><span class="material-symbols-outlined">star_half</span>
              </div>
              <p class="mt-2 text-sm text-gray-500">Based on 121 reviews</p>
            </div>
            <div class="flex-1">
              <div class="flex gap-2 items-center">
                <span class="text-sm text-gray-600 dark:text-gray-400">5 star</span>
                <div class="w-full h-2 bg-gray-200 dark:bg-gray-700">
                  <div class="h-2 bg-accent" style="width: 75%"></div>
                </div>
                <span class="text-sm text-gray-600 dark:text-gray-400">90</span>
              </div>
              <div class="flex gap-2 items-center mt-1">
                <span class="text-sm text-gray-600 dark:text-gray-400">4 star</span>
                <div class="w-full h-2 bg-gray-200 dark:bg-gray-700">
                  <div class="h-2 bg-accent" style="width: 15%"></div>
                </div>
                <span class="text-sm text-gray-600 dark:text-gray-400">18</span>
              </div>
              <div class="flex gap-2 items-center mt-1">
                <span class="text-sm text-gray-600 dark:text-gray-400">3 star</span>
                <div class="w-full h-2 bg-gray-200 dark:bg-gray-700">
                  <div class="h-2 bg-accent" style="width: 5%"></div>
                </div>
                <span class="text-sm text-gray-600 dark:text-gray-400">6</span>
              </div>
              <div class="flex gap-2 items-center mt-1">
                <span class="text-sm text-gray-600 dark:text-gray-400">2 star</span>
                <div class="w-full h-2 bg-gray-200 dark:bg-gray-700">
                  <div class="h-2 bg-accent" style="width: 3%"></div>
                </div>
                <span class="text-sm text-gray-600 dark:text-gray-400">4</span>
              </div>
              <div class="flex gap-2 items-center mt-1">
                <span class="text-sm text-gray-600 dark:text-gray-400">1 star</span>
                <div class="w-full h-2 bg-gray-200 dark:bg-gray-700">
                  <div class="h-2 bg-accent" style="width: 2%"></div>
                </div>
                <span class="text-sm text-gray-600 dark:text-gray-400">3</span>
              </div>
            </div>
          </div>
          <div class="pt-8 mt-8 border-t border-gray-200 dark:border-gray-700">
            <div class="flex flex-col gap-8">
              <!-- Review Item -->
              <div class="flex gap-4">
                <div
                  class="bg-center bg-no-repeat bg-cover aspect-square size-12"
                  data-alt="Reviewer avatar"
                  style="
                    background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDyNuyiwzGl4PF9bgNWCon0qwjq0wNaUkBp25hdnpHQC8RHk7c3mvsAvttIz2bFG0CTqjinEDI-M8UONwXCVjtAR5QKywlB-zJdCh7JIP_FZgYcS9dDeqn2QyyyLcDAJvX58G6nWniYs2LRpxjc6smAvpSDYCPmEywumYobH5BVDSKUZ13tgyv84YMoeOu2DZZmSjIXTW8-nWhDcU7tCz88QUw_ZA1H3D1IV1b90fTJM5C9S4nxPEXWVS0au60bIEhMwEllPmXuL5M');
                  "
                ></div>
                <div class="flex-1">
                  <div class="flex justify-between items-center">
                    <p class="font-bold text-gray-900 dark:text-white">Jessica M.</p>
                    <p class="text-sm text-gray-500">2 weeks ago</p>
                  </div>
                  <div class="flex mt-1 text-accent">
                    <span class="text-base material-symbols-outlined">star</span
                    ><span class="text-base material-symbols-outlined">star</span
                    ><span class="text-base material-symbols-outlined">star</span
                    ><span class="text-base material-symbols-outlined">star</span
                    ><span class="text-base material-symbols-outlined">star</span>
                  </div>
                  <p class="mt-3 text-sm text-gray-700 dark:text-gray-300">
                    Absolutely stunning wig! The quality is incredible and it looks so natural. I've
                    received so many compliments. It's comfortable to wear all day. Highly
                    recommend!
                  </p>
                </div>
              </div>
              <!-- Review Item -->
              <div class="flex gap-4">
                <div
                  class="bg-center bg-no-repeat bg-cover aspect-square size-12"
                  data-alt="Reviewer avatar"
                  style="
                    background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAlcCnb_CcEQdr8OqPz2xVIndS_U70Xo5zpwquRpwp34JIbh35LESniOePs8mlcQRysWAe9LSF6rBkq95mxXR6L5BuH3JBVd63nUDkeWQmfVKyaQ4dTYOuVDA_dZpMZN2sW60MB2Wr2-oSLbs9KmfKqqbrk1gxM2ezLq9DHqoGy4F9cvMFkDknwGOIuhI_7o-O31l0qWlTO78BymGez-IARfDNouh4SuJurEHAJ0LioxCb2pdCUtf5f67jRIBssd30eCQahcbakUWw');
                  "
                ></div>
                <div class="flex-1">
                  <div class="flex justify-between items-center">
                    <p class="font-bold text-gray-900 dark:text-white">Samantha R.</p>
                    <p class="text-sm text-gray-500">1 month ago</p>
                  </div>
                  <div class="flex mt-1 text-accent">
                    <span class="text-base material-symbols-outlined">star</span
                    ><span class="text-base material-symbols-outlined">star</span
                    ><span class="text-base material-symbols-outlined">star</span
                    ><span class="text-base material-symbols-outlined">star</span
                    ><span class="text-base text-gray-400 material-symbols-outlined">star</span>
                  </div>
                  <p class="mt-3 text-sm text-gray-700 dark:text-gray-300">
                    Great wig, but it tangled a little more than I expected. The color is beautiful
                    though and the cap is very comfortable.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
