<div class="container py-8 px-4 mx-auto max-w-2xl md:py-16">
	<div class="flex flex-col items-center text-center">
		<h1 class="text-3xl font-bold md:text-4xl font-display">
			Shipping Information
		</h1>
		<p class="mt-2 text-base text-text-light/70 dark:text-text-dark/70">
			Please enter your shipping address to proceed.
		</p>
		<div class="flex items-center mt-4 space-x-2 text-sm font-medium">
			<span class="text-primary">Cart</span>
			<span
				class="text-sm material-symbols-outlined text-text-light/50 dark:text-text-dark/50"
				>chevron_right</span
			>
			<span class="font-bold text-primary">Information</span>
			<span
				class="text-sm material-symbols-outlined text-text-light/50 dark:text-text-dark/50"
				>chevron_right</span
			>
			<span class="text-text-light/50 dark:text-text-dark/50">Shipping</span>
			<span
				class="text-sm material-symbols-outlined text-text-light/50 dark:text-text-dark/50"
				>chevron_right</span
			>
			<span class="text-text-light/50 dark:text-text-dark/50">Payment</span>
		</div>
	</div>
	<div class="mt-12 mb-6 w-full">
		<mat-tab-group class="border *:p-2">
			<mat-tab label="Continue as Guest">
				<h2 class="mb-3 text-xl">Enter shipping information below</h2>
				<form
					class="mt-6 space-y-6"
					(submit)="[$event.preventDefault(), this.formSubject.next()]"
					class="*:w-full"
				>
					<mat-form-field>
						<mat-label>Full Name</mat-label>
						<input matInput [formField]="form.name">
						@if (form.name().invalid()) { @for (error of form.name().errors();
						track error.kind) {
						<mat-error>
                  {{error.message}}
                </mat-error>
						} }
					</mat-form-field>
					<!-- <mat-form-field> -->
					<!-- 	<mat-label>Email</mat-label> -->
					<!-- 	<input matInput [FormFormField]="email"> -->
					<!-- </mat-form-field> -->
					<mat-form-field>
						<mat-label>Adress line 1</mat-label>
						<input matInput [formField]="form.address.line1">
					</mat-form-field>
					<mat-form-field>
						<mat-label>Adress line 2</mat-label>
						<input matInput [formField]="form.address.line2">
					</mat-form-field>
					<div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
						<mat-form-field>
							<mat-label>Country</mat-label>
							<input matInput [formField]="form.address.country">
						</mat-form-field>
						<mat-form-field>
							<mat-label>Postal code</mat-label>
							<input matInput [formField]="form.address.zip">
						</mat-form-field>
					</div>
					<div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
						<mat-form-field>
							<mat-label>City</mat-label>
							<input matInput [formField]="form.address.city">
						</mat-form-field>
						<mat-form-field>
							<mat-label>State/Province</mat-label>
							<input matInput [formField]="form.address.state">
						</mat-form-field>
					</div>
					<mat-form-field>
						<mat-label>Notification Channel</mat-label>
						<mat-select [formField]="form.notification_channel">
							@for (channel of notification_channels; track channel.name) {
							<mat-option [value]="channel.value">
								<div class="flex gap-2">
									<span
										class="{{ channel.icon }}"
										role="img"
										aria-hidden="true"
									></span>
									<span>{{ channel.name }}</span>
								</div>
							</mat-option>
							}
						</mat-select>
					</mat-form-field>
					<mat-form-field>
						<mat-label>
							@switch (form.notification_channel().value()) { @case ('whatsapp')
							{ Contact } @case ('imessage') { Email or Phone } @default { Email
							} }
						</mat-label>
						<input matInput [formField]="form.contact">
						@if (form.contact().invalid()) { @for (error of
						form.contact().errors(); track error) {
						<mat-error>{{error.message}}</mat-error>} }
					</mat-form-field>
					<div>{{form.contact().valid()}}</div>
					<div class="pt-6">
						<button
							matButton="filled"
							type="submit"
							class="rounded-none!"
							[disabled]="!form().touched() || loading() || form().invalid()"
						>
							<div class="flex gap-1 items-center">
								@if (loading()) {
								<span
									class="icon-[eos-icons--three-dots-loading]"
									role="img"
									aria-hidden="true"
								></span>
								}<span>Continue to Shipping Method</span>
							</div>
						</button>
					</div>
				</form>
			</mat-tab>
			<mat-tab label="Log in / Register">Continue as Guest</mat-tab>
		</mat-tab-group>
	</div>
</div>
